<nav class="navbar navbar-inverse">
  <div class="col-md-8  navbar-right" style="width: 73.866679%">
    <ul class="col-md-6" class="nav navbar-nav">
      <li><a routerLink="#">Manage Device</a></li>
      <li><a routerLink="#">Configuration</a></li>
      <li><a routerLink="#">Firmware upgrade</a></li>
      <li><a routerLink="#">Inactive Device Report</a></li>
      <li><a routerLink="#">Phase ID</a></li>
    </ul>
  </div>
</nav>
<div class="col-md-3">
  <app-sidebar></app-sidebar>
</div>
<div class="col-md-9">
  <div class="well bs-component">
    <form class="form-horizontal">
      <div class="row ">
        <div class="col-md-3">
          <div class="form-group">
              <label for="inputEmail" class="col-lg-4 control-label">Device Status</label>
              <div class="col-lg-8">
                  <select class="form-control" id="select">
                    <option>Select</option>
                  </select>    
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail" class="col-lg-4 control-label">Communication Type</label>
              <div class="col-lg-8 pull-right">
                  <select class="form-control" id="select">
                    <option>Select</option>
                
                  </select>    
              </div>
            </div>
       </div>
       <div class="col-md-3">
          <div class="form-group">
              <label for="inputEmail" class="col-lg-4 control-label">FM Version</label>
              <div class="col-lg-8">
                  <select class="form-control" id="select">
                    <option>Select</option>
                  
                  </select>    
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail" class="col-lg-4 control-label">Device State</label>
              <div class="col-lg-8">
                  <select class="form-control" id="select">
                    <option>Select</option>
                 
                  </select>    
              </div>
            </div>
       </div>

       <div class="col-md-3">
          <div class="form-group">
              <label for="inputEmail" class="col-lg-4 control-label">Network Group</label>
              <div class="col-lg-8">
                  <select class="form-control" id="select">
                    <option>Select</option>
                    
                  </select>    
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail" class="col-lg-4 control-label">Serial Number</label>
              <div class="col-lg-8">
                  <select class="form-control" id="select">
                    <option>Select</option>
               
                  </select>    
              </div>
            </div>

            
       </div>
       <div class="col-md-1">
          <div class="form-group">
              <div class="col-lg-12">
                  <button type="submit" class="btn btn-primary">Apply</button>   
              </div>
            </div>
       </div>
      </div>
    </form>
  </div>

  <section>
        <ul class="nav nav-tabs">
            <li [class.active]="isTabSelected(1)"><a href (click)="changeTab(1,$event)">Device List</a></li>
            <li [class.active]="isTabSelected(2)"><a href (click)="changeTab(2,$event)">Device Summary</a></li>
           
            <div class="nav nav-tabs pull-right">
              <button type="submit" class="btn btn-default">Add Device</button>   
              <div class="btn-group">
                <a href="#" class="btn btn-default disabled" >Register</a>
                <a href="#" class="btn btn-default disabled">UnRegister</a>
                <a href="#" class="btn btn-default disabled">Delete</a>
              </div>
              <div class="btn-group">
                <a routerLink="#" class="btn btn-default">Export</a>
                <a routerLink="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              </div>

            </div>

        </ul>
        <div class="panel" *ngIf="isTabSelected(1)">
           
         <div class="panel panel-default">
           

            <table class="table table-striped table-hover " [mfData]="applicationService.getResponse() | dataFilter : filterQuery" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr>
                     <th style="width: 10%">
                        <mfDefaultSorter by="name"><input type="checkbox"></mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter by="serial">Serial Number</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter by="phase">Phase</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter by="status">Device Status</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter by="state">Device State</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter by="version">Fw Version</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="ctype">Communication Type</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter by="group">Network Group</mfDefaultSorter>
                    </th>
                    <th style="width: 10%">
                        <mfDefaultSorter>Actions</mfDefaultSorter>
                    </th>
                </tr>

                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data">
                    <td><input type="checkbox"></td>
                    <td class="serial">{{item.serial}}</td>
                    <td>{{item.phase}}</td>
                    <td>
                       <span *ngIf="item.status =='active'" class="btn btn-success glyphicon glyphicon-ok"></span>
                       <span *ngIf="item.status =='inactive'" class="btn btn-danger glyphicon glyphicon-remove"></span>
                    
                    </td>
                    <td>{{item.state}}</td>
                    <td>{{item.version}}</td>
                    <td>{{item.ctype}}</td>
                    <td>{{item.group}}</td>
                   <td class="td-actions " >
                          <button   class="btn btn-info btn-simple btn-xs" title="Edit Task" type="button">
                              <i class="glyphicon glyphicon-pencil"></i>
                          </button>
                          <button class="btn btn-danger btn-simple btn-xs"  title="Sort" type="button">
                              <i class="glyphicon glyphicon-sort"></i>
                          </button>
                          <button class="btn btn-default btn-simple btn-xs"  title="Sort" type="button">
                              <i class="glyphicon glyphicon-asterisk"></i>
                          </button>
                      </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                   
                    <td  style="text-align: left;" colspan="7">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                    </td>
                     <td class="pull-right" colspan="2">
                        <label class="label-control">&nbsp;</label>
                      <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="5">5</option>
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="15">15</option>
                      </select>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>



        </div>
        <div class="panel" *ngIf="isTabSelected(2)">
            <p>Device Summary</p>
        </div>
    </section>

</div>